body {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    direction: rtl;
    background-color: #f09b9e;
}
.proverb {
    border: 6px solid #f2aaaa;
    padding: 20px;
    margin: 20px;
}
.btn {
    display: inline-block;
    padding: 14px 19px;
    background: #717171;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 70px;
}
input {
    display: block;
    margin: 18px 0;
    padding: 12px;
    width: 400px;
}